@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default-font-family: var(--font-inter);
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer utilities{
  .nav-link{
    @apply text-zinc-500 hover:text-zinc-800 transition-colors;
  }
}
